@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Abril Fatface';
  src: local('Abril Fatface Italic'), local('AbrilFatface-Italic'),
    url('fonts/Abril/AbrilFatface-Italic.woff2') format('woff2'),
    url('fonts/Abril/AbrilFatface-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text Bold'), local('AbrilText-Bold'),
    url('fonts/Abril/AbrilText-Bold.woff2') format('woff2'),
    url('fonts/Abril/AbrilText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Fatface';
  src: local('Abril Fatface Regular'), local('AbrilFatface-Regular'),
    url('fonts/Abril/AbrilFatface-Regular.woff2') format('woff2'),
    url('fonts/Abril/AbrilFatface-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text SemiBold Italic'), local('AbrilText-SemiBoldItalic'),
    url('fonts/Abril/AbrilText-SemiBoldItalic.woff2') format('woff2'),
    url('fonts/Abril/AbrilText-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text SemiBold'), local('AbrilText-SemiBold'),
    url('fonts/Abril/AbrilText-SemiBold.woff2') format('woff2'),
    url('fonts/Abril/AbrilText-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text Regular'), local('AbrilText-Regular'),
    url('fonts/Abril/AbrilText-Regular.woff2') format('woff2'),
    url('fonts/Abril/AbrilText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text Bold Italic'), local('AbrilText-BoldItalic'),
    url('fonts/Abril/AbrilText-BoldItalic.woff2') format('woff2'),
    url('fonts/Abril/AbrilText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text Lt Italic'), local('AbrilTextLt-Italic'),
    url('fonts/Abril/AbrilTextLt-Italic.woff2') format('woff2'),
    url('fonts/Abril/AbrilTextLt-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text Italic'), local('AbrilText-Italic'),
    url('fonts/Abril/AbrilText-Italic.woff2') format('woff2'),
    url('fonts/Abril/AbrilText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Text';
  src: local('Abril Text Lt'), local('AbrilTextLt'),
    url('fonts/Abril/AbrilTextLt.woff2') format('woff2'),
    url('fonts/Abril/AbrilTextLt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
    url('fonts/JetBrains Mono/JetBrainsMono-Regular.woff2') format('woff2'),
    url('fonts/JetBrains Mono/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Medium'), local('JetBrainsMono-Medium'),
    url('fonts/JetBrains Mono/JetBrainsMono-Medium.woff2') format('woff2'),
    url('fonts/JetBrains Mono/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
